body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

#page-hearder{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:80px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 20px;
    background:white;
    box-shadow:0 2px 5px rgba(0,0,0,.1);
    z-index:100;
}

#search-container{
    gap: 0px;
}

#search-input{
    width: 300px;
    padding: 12px;
    font-size:1rem;
}

#search-btn{
    padding: 12px 20px;
    font-size:1rem;
    cursor:pointer;
}

ul{
    display:flex;
    gap:20px;
    list-style:none;
}

#product-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;

    padding:20px;
    margin-top:100px;
}

.product-card{
    text-align:center;
    padding:20px;

    border:1px solid #ddd;
    border-radius:10px;

    background:white;
}

.product-image{
    width:150px;
    height:150px;
    object-fit:contain;
}

#modal-wrapper {
    position: fixed;
    inset: 0; /* top, right, bottom, left = 0 */
    background: rgba(0, 0, 0, 0.4);

    display: none; /* hidden by default */
    justify-content: center;
    align-items: center;

    z-index: 1000;
    backdrop-filter: blur(4px);
}


#modal-container {
    background-color: #fff;
    width: 800px;
    max-width: 90%;
    max-height: 80vh;

    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 5px 20px rgba(0,0,0,.3);

    /* IMPORTANT: stop clicks from bubbling to overlay */
}

.modal-content{
    display:flex;
    gap:30px;
    align-items:flex-start;
}

.modal-image{
    width:300px;
    height:300px;

    object-fit:contain;
    flex-shrink:0;
}




